body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.password {
  font-family: "Andale Mono", AndaleMono, monospace;
  margin: 20px 0;
  font-size: 24px;
}

img {
  max-width: 100%;
  margin: 20px 0;
}
